---
Standard: Latest
BreakBeforeBraces: Attach
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
NamespaceIndentation: None
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 0
EmptyLineAfterAccessModifier: Never
FixNamespaceComments: false
IncludeBlocks: Merge
IndentPPDirectives: BeforeHash
IndentWidth: 4
Language: Cpp
QualifierAlignment: Left
PointerAlignment: Left
SeparateDefinitionBlocks: Leave
SortIncludes: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
Cpp11BracedListStyle: false
AlignArrayOfStructures: Left
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignEscapedNewlines: Left
IndentRequires: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReferenceAlignment: Left
RemoveBracesLLVM: false
IndentAccessModifiers: false
AccessModifierOffset: -4
BreakConstructorInitializers: BeforeComma
